# Ignore heavy results specifically
flow_extraction/*.pdf
flow_extraction/*.root
Compare_PubResults/*.txt
Compare_PubResults/*.root

# Ignore general large/binary files
*.png
*.jpg
*.so
*.d
*.pcm
*.root
*.pdf